@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --font-poppins: "Poppins", sans-serif;
}

.box:hover{
  @apply bg-[#ee0000] duration-500 ease-in-out cursor-pointer 
}
.box:hover .item{
  @apply text-white duration-300 ease-in-out 
}

.footer li a{
  @apply text-white font-medium leading-8.75 text-base font-poppins 
}
.footer li a:hover{
  @apply text-[#ee0000]  duration-300 ease-in-out
}
.icons .socialr{
  @apply cursor-pointer
}
.icons .social:hover{
  @apply text-[#ee0000] cursor-pointer scale-130 duration-300 ease-in-out rotate-20
}